# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Yunseo
*.vsidx
*.vs/
*.tlog
*.log
*.idb
*.pdb
*.exe.recipe
*.recipe
*.lastbuildstate
*.ipch
*.VC.opendb
*.VC.db
/Solution/HelloDinner/.claude
